aiofiles==25.1.0
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.14.2
APScheduler==3.11.3
bcrypt==5.0.0
click==8.4.2
dnspython==2.8.0
email-validator==2.3.0
fastapi==0.141.1
h11==0.16.0
httptools==0.8.0
idna==3.18
motor==3.7.1
pillow==12.3.0
pydantic==2.13.4
pydantic-settings==2.15.0
pydantic_core==2.46.4
PyJWT==2.13.0
pymongo==4.17.0
python-dotenv==1.2.2
python-multipart==0.0.32
starlette==1.6.0
typing-inspection==0.4.4
typing_extensions==4.16.0
tzlocal==5.4.4
uvicorn==0.52.2
uvloop==0.22.1
watchfiles==1.2.0
